<h2 class="tagline">TeamBoard is a new way to organise tasks, ideas and reminders and share them with your team.</h2>
<div class="col-md-4 col-md-offset-4 col-xs-12" style="text-align: left;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <p class="bg-danger">
    <%= devise_error_messages! %>
    </p>

    <div class="form-group field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group actions">
      <%= f.submit "Sign In", class: "btn tb-btn btn-signup"%>
      <span class="sign up"><%= link_to "Don't have an account? Sign up now!", "/users/sign_up", id: "sign_in_email" %></span>
    </div>

    <div class="form-group">
      <%= link_to "Sign in with Google", "/users/auth/google_oauth2", id: "sign_in", class: "btn tb-btn btn-sign-up", style: "margin-right: 30px;" %>
      <%= link_to "Sign in with Facebook", "/users/auth/facebook", id: "sign_in_facebook", class: "btn tb-btn btn-sign-up" %>
    </div>

  <% end %>
 </div>
