<!DOCTYPE html>
<html class="bluebackbround">
<head>
  <title>TeamBoard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="teamboard" style="background-color: #f2f2f2 !important;" ng-strict-di>
  <nav class="navbar navbar-default navbar-fixed-top mobile-navbar">
    <div class="container-fluid">
      <div class="navbar-icons pull-left">
        <a id="toggle-ham-menu"><i class="ham glyphicon glyphicon-menu-hamburger"></i></a>
        <%= image_tag 'tb.png', class: 'logo', alt: 'Teamboard Logo'%>
      </div>
    </div>
  </nav>
  <div class="main-logo"></div>
  <ul class="sidebar" ng-controller="MenuController">
    <li id="user-menu" class="sidebar-item first-element">
      <a id="toggle-user-menu">
        <i class="glyphicon glyphicon-user"></i>
        <%= current_user.name %>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-submenu-item">
          <a href="#/profile">
            <i class="glyphicon glyphicon-user"></i>
            Profile
          </a>
        </li>
        <li class="sidebar-submenu-item">
          <a href="#/settings">
            <i class="glyphicon glyphicon-cog"></i>
            Settings
          </a>
        </li>
        <li class="sidebar-submenu-item">
          <%= link_to(destroy_user_session_path, :method => :delete)  do %> 
            <i class="glyphicon glyphicon-off"></i> Log Out
          <% end %>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{current: isCurrentPath('/')}" class="sidebar-item">  
      <a href="#/"><i class="glyphicon glyphicon-th-large"></i> Dashboard</a>
    </li>
    <li ng-class="{current: isCurrentPath('/projects')}" class="sidebar-item">  
      <a href="#/projects"><i class="glyphicon glyphicon-th-list"></i> Projects</a>
    </li>
    <li ng-class="{current: isCurrentPath('/teams')}" class="sidebar-item">
      <a href="#/teams"><i class="glyphicon glyphicon-globe"></i> My Teams</a>
    </li>
    <li ng-class="{current: isCurrentPath('/tasks')}" class="sidebar-item">
      <a href="#/tasks"><i class="glyphicon glyphicon-list-alt"></i> My Tasks</a>
    </li>
    <li ng-class="{current: isCurrentPath('/calendar')}" class="sidebar-item">
      <a href="#/calendar"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
    </li>
    <li ng-class="{current: isCurrentPath('/about')}" class="sidebar-item">
      <a href="#/about"><i class="glyphicon glyphicon-info-sign"></i> About</a>
    </li>
    
  </ul>

  <div id="wrap">
    <div class="main container-fluid">
      <div class="row">
        <div class="col-md-12" ng-view></div>
      </div>
    </div>

  </body>
  </html>
