<!DOCTYPE html>
<html>
<head>
  <title>TeamBoard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag 'teamboard-logo.png', class: 'logo-splash', alt: 'TeamBoard Logo'%>
        <h2 class="tagline">TeamBoard is a new way to organise tasks, ideas and reminders and share them with your team.</h2>
        <div><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn tb-btn btn-sign-up" %></div>
      </div>
    </div>

  </div>

</body>
</html>
